/* Botões das Abas */
.tab-link {
    background: none;
    border: none;
    color: var(--text-secondary-color);
    padding: 14px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 3px solid transparent;
}

.tab-link:hover {
    color: var(--text-color);
}

.tab-link.active {
    color: var(--text-color);
    border-bottom: 3px solid var(--accent-color);
}

/* Caixas de Conteúdo */
.content-box {
    background-color: var(--container-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.content-box h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: var(--accent-color);
}

/* Formulários */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9em;
    color: var(--text-secondary-color);
}

input[type="text"],
input[type="number"],
input[type="file"],
select,
textarea {
    width: 100%;
    background-color: var(--bg-color);
    border: 1px solid var(--text-secondary-color);
    border-radius: 4px;
    padding: 10px;
    color: var(--text-color);
    font-size: 1em;
    box-sizing: border-box;
}

input[type="file"] {
    padding: 3px;
}

input::file-selector-button {
    background-color: #334155;
    border: none;
    padding: 8px;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
}

/* Botão Primário */
button.primary-btn {
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    color: var(--bg-color);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.primary-btn:hover {
    background-color: #7dd3fc;
}

.tab-link:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--text-color);
}

/* Informações do usuário no header */
.user-info {
  display: flex;
  align-items: center;
}

.logout-btn {
  background: none;
  border: 1px solid var(--text-secondary-color);
  color: var(--text-secondary-color);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.logout-btn:hover {
  color: var(--text-color);
  border-color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.1);
}