- name: Configurar Endereços IP Estáticos
  hosts: slurm_cluster
  become: yes
  gather_facts: yes

  tasks:
    - name: Configurar IP estático com 'interfaces' (Debian/Ubuntu)
      when: ansible_os_family == "Debian"
      block:
        - name: Garantir que o pacote 'resolvconf' esteja instalado
          package:
            name: resolvconf
            state: present
          
        - name: Criar arquivo de configuração /etc/network/interfaces
          template:
            src: roles/slurm/templates/interfaces.j2
            dest: /etc/network/interfaces
            owner: root
            group: root
            mode: '0644'
          notify: Reiniciar networking Debian

    - name: Configurar IP estático com 'ifcfg' (RedHat/CentOS)
      when: ansible_os_family == "RedHat"
      block:
        - name: Criar arquivo de configuração ifcfg
          template:
            src: roles/slurm/templates/ifcfg.j2
            dest: "/etc/sysconfig/network-scripts/ifcfg-{{ interface_name }}"
            owner: root
            group: root
            mode: '0644'
          notify: Reiniciar network RedHat

  handlers:
    - name: Reiniciar networking Debian
      systemd:
        name: networking
        state: restarted

    - name: Reiniciar network RedHat
      systemd:
        name: network
        state: restarted
